/* Support.css */
.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px; /* 增加上下间隔 */
}

.support-title {
  margin: 0;
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px; /* 增加底部间隔 */
}

.support-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.support-label {
  font-size: 2.6em;
  margin-bottom: 50px; /* 增加底部间隔 */
}

.support-textarea {
  width: 100%;
  padding: 13px;
  margin-bottom: 20px; /* 增加底部间隔 */
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 31.2px;
  font-weight: bold;
  resize: vertical;
  height: 150px;
}

.support-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 13px 26px;
  border-radius: 5px;
  font-size: 31.2px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 50px;
}
